@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  -webkit-tap-highlight-color: transparent;
}
html,body {
  height: 100%;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
}
.contenidor h2 {
  margin-bottom: 20px;
  font-size: 50px;
  color: white;
}
.contenidor {
  width: 100%;
  max-width: 500px;
  padding: 20px;
  background: black;
  border-radius: 0.2rem;
}

.footer1{
  color: white;
  text-align: center;
  border: 1px solid #565656;
  background-color: black;
  position: absolute;
  bottom: 0;
  height: auto;
 padding: 1%;
}

.rojo {
  color: red;
}

.selector {
  width: 50%;
  text-align: center;
  font-size: 20px;
 position: absolute;
 top: 67%;
 left: 50%;
 transform: translate(-50%, -50%);
 background-color: #565656;
 color: white;
}

.resultado  {
 font-size: 30px;
 padding-top: 1px;
 
}

.verde {
  color: green;
}

h6{
  color: green;
  text-align: center;
}

p{
  color: white;
  text-align: center;
}



.field {
  margin-bottom: 15px;
}
.field label {
  position: relative;
}
.field label input {
  font-size: 1rem;
  color: white;
  background: transparent;
  padding: 1rem 1.2rem;
  min-width: 100%;
  border: 2px solid #565656;
  border-radius: 0.2rem;
}
.field label input:focus {
  border-color: #4766ff;
}
.field label p {
  color: #4766ff;
  font-size: 1rem;
  user-select: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 0.8rem;
  padding: 0 0.4rem;
  background: #fff;
  pointer-events: none;
  transition: top 0.2s, font-size 0.2s, color 0.2s;
}
.field label input:focus + p, .field label input:not(:placeholder-shown) + p {
  top: -20px;
  font-size: 0.9rem;
  color: #4766ff;
}
.field label input:not(:focus) + p {
  color: #565656;
}
button#btn {
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 600;
  color: white;
  background: #4766ff;
  width: 100%;
  cursor: pointer;
  border-radius: 0.2rem;
}

h2 {
    text-align: center;
}

div#error-msg {
  color: red;
  display: none;
}